*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}


/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
}

ul {
  list-style: none;
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes*/

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  --padding-small: 1rem;
  --padding-medium: 2rem;

}

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    color: var(--clr-primary-light-1);
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
  margin: 0 auto;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-areas:
   "header"
   "main"
   "footer";
   row-gap: 3rem;
}

header {
  grid-area: header;
}

.navbar {
  display: flex;
  background-color: var(--clr-neutral-100);
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.mobile-toggle {
  display: none;
}

.logo-wrap {
  width: 200px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--clr-green-400);
}

.logo {
  width: 50px;
  margin-right: 1rem;
}

.logo-wrap h3 {
  line-height: 0.8;
}

.sr-only {
  color: transparent;
}

.primary-navigation {
  display: flex;
  list-style: none;
  background-color: var(--clr-neutral-100);
}

.primary-navigation a {
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  color: var(--clr-green-400);
  text-transform: uppercase;
}

.primary-navigation a:hover {
  background-color: var(--clr-green-400);
  padding: 1rem;
  margin: 1rem;
  color: var(--clr-neutral-100);
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: .75rem;
}

@media screen and (max-width: 750px) {
  .primary-navigation {
      gap: 2rem;
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
     
      flex-direction: column;
      padding: min(30vh, 10rem) 2rem; 

      transform: translateX(100%);
      transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
      transform: translateX(0%);
  }


  .mobile-toggle {
      display: block;
      position: absolute;
      z-index: 9999;
      background-color: var(--clr-green-400);
      mask-image: url(/Assets/images/list.svg);
      mask-repeat: no-repeat;
      aspect-ratio: 1 / 1;
      top: 2rem;
      right: 2rem;
  }

  .mobile-toggle:hover {
    background-color: var(--clr-edible);
    mask-image: url(/Assets/images/list.svg);
  }


  .mobile-toggle[aria-expanded="true"] {
      mask-image: url(/Assets/images/x.svg);
      mask-repeat: no-repeat;
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.hero-heading p {
  padding: 1rem 0;
  text-align: center;
}

/* Image cards */ 

.grid-hero {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1tr 1tr;
  grid-template-rows: repeat(3, 1tr);
  border: 1rem solid white;
  max-width: 1000px;
  width: 100%;

  @container (min-width: 600px) {
    grid-template-columns: repeat(3, 1tr);
  }

  @container (min-width: 800px) {
    grid-template-columns: repeat(3, 1tr);
  }
}

.img-a {
  grid-area: 1 / 1 / 2 / 2;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;

  @container (min-width: 800px) {
    grid-row: 1 / span 2;
    aspect-ratio: 0.5;
  }
}

.img-b {
  grid-area: 1 / 2 / 2 / 3;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;

  @container (min-width: 800px) {
    display: none;
  }
}

.img-c {
  grid-area: 2 / 1 / 3 / 2;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;


  @container (min-width: 600px) {
    grid-area: 1 / 3 / 2 / 4;
  }

  @container (min-width: 800px) {
    grid-area: 1 / 2 / 2 / 3;
  }
}

.img-d {
  grid-area: 2 / 2 / 3 / 3;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;

  @container (min-width: 600px) {
    grid-area: 2 / 1 / 3 / 2;
  }

  @container (min-width: 800px) {
    grid-area: 1 / 3 / 2 / 4;
  }
}

.img-e {
  grid-area: 3 / 1 / 4 / 2;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;

  @container (min-width: 600px) {
    grid-area: 2 / 2 / 3 / 3;
  }

  @container (min-width: 600px) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.img-f {
  grid-area: 3 / 2 / 4 / 3;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;

  @container (min-width: 600px) {
    grid-area: 2 / 3 / 3 / 4;
  }
}

/*Nyhetsbrev uppdaterad */ 

.news-container {
  background-color: var(--clr-neutral-100);
}

.news-section {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  @media screen and (min-width: 800px) {
      flex-direction: row-reverse;
      justify-content: space-around;
  }
}

.icon-circle {
  background-color: var(--clr-green-400);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-field {
  border: 1px solid black;
  padding: 0.2rem; 
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.email-field:hover {
  border: 1px solid var(--clr-green-400);
  padding: 0.2rem; 
  border-radius: 20px;
}

.input-field {
  text-align: center;
  background-color: var(--clr-neutral-100);
  color: inherit;
  border-radius: 15px;
  border: 1px solid var(--clr-green-400);
}

.btn-send {
  background-color: var(--clr-green-400);
  color: white;
  border: 1px solid var(--clr-green-400);
  padding: .3rem 1rem;
  border-radius: 20px;
}

.btn-send:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-green-400);
  padding: .3rem 1rem;
  border-radius: 20px;
  border: 1px solid var(--clr-green-400);
}

  /* for newsletter */

.news-icon {
    padding: 3rem;
}

.icon-plant {
    width: 100%;
    padding: 2rem;
  }

.news-content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
}

@container (min-width: 600px) {
.news-text {
  max-width: 65%;
  text-align: center;
  }
}

/* Plant cards */
.container {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  padding:2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--clr-primary-light-1);
  
  
  @media screen and (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      row-gap: 1rem;
     
  }
  @media screen and (min-width: 800px) {
      grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: var(--clr-neutral-100);
  box-shadow: var(--border-shadow);
  padding: 1rem;
}

.card-inline-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;
}
.card img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  grid-area: 1 / 1 / 2 / 4;
}

.chips-wrapper {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.3rem;
}

.card-heading {
  grid-area: 3 / 1 / 4 / 4;
}

.card-text {
  grid-area: 4 / 1 / 5 / 4;
}

.card-avatar {
  grid-area: 5 / 1 / 7 / 2;
  align-self: flex-end;
} 

.card-avatar img {
  width: 50px;
}

.card-name {
  grid-area: 5 / 2 / 6 / 4;
  font-weight: 700;
  font-size: 0.825rem;
}

.card-date {
  grid-area: 6 / 2 / 7 / 4;
  font-size: 0.825rem;
} 

/* Animera övergång */
.chip {
  padding: 0.3rem 0.4rem;
  margin: 0.2rem 0;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip:hover {
  filter: brightness(120%);
}

.bg-red {
  background-color: var(--clr-flower);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-flower);
}

.bg-edible {
  background-color: var(--clr-edible);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-edible);
}

.bg-green {
  background-color: var(--clr-green);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-green);
}

.bg-sunloving {
  background-color: var(--clr-sunloving);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-sunloving);
}

.bg-easy {
  background-color: var(--clr-easy);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-easy);
}

.bg-decorative {
  background-color: var(--clr-decorative);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-decorative);
}

.bg-colorful {
  background-color: var(--clr-colorful);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-colorful);
}

.bg-robust {
  background-color: var(--clr-robust);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-robust);
}

.bg-air {
  background-color: var(--clr-air);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-air);
}

.bg-fragrant {
  background-color: var(--clr-fragrant);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-fragrant);
}

.bg-fast {
  background-color: var(--clr-fast);
  color: var(--clr-neutral-100);
  border: 3px solid var(--clr-fast);
}
  /* Info section*/

  .info-container {
    background-color: var(--clr-neutral-100);
  }

  .info-section {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 5rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: 800px) {
    .info-section {
        flex-direction: row;
    }
  }

  .info-up {
    background-color: green;
  }

  .icon-seed {
    width: 100%;
    padding: 2rem;
  }

  .info-down {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .way-down {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .info-btn {
    background-color: var(--clr-green-400);
    color: white;
    padding: 0.3rem 1rem;
    border: 3px solid var(--clr-green-400);
    border-radius: 20px;
  }

    
  .info-btn:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-green-400);
    padding: 0.3rem 1rem;
    border: 3px solid var(--clr-green-400);

  }

  .footer-container {
    background-color: var(--clr-green-400);
  }

.footer-flex {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;  
    padding: 4rem var(--padding-small) 2rem var(--padding-small);   
    color: var(--clr-neutral-100);
}
  
  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .logo-wrap-footer {
  width: 200px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 1rem;
  }
  
  .logo-fot {
  width: 50px;
  }
  
  .contact-phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  }

  .contact-phone:hover {
    color: var(--clr-green-100);
    }
  
  .contact-phone img {
  width: 16px;
  height: 16px;
  }

  .contact-email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  }

  .contact-email:hover {
    color: var(--clr-green-100);
  }
  
  .contact-email img {
  width: 16px;
  height: 16px;
  }

  .footer-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 40%;
  }

  .footer-right > ul > li {
    list-style: none;
    font-weight: 600;
    padding: .5rem;
    transition: 2ms ease;
}

.footer-right > ul > li:hover {
  color: var(--clr-green-400);
  background-color: var(--clr-neutral-100);
}

 /* Denna försvinner inte */ 
 @media screen and (max-width: 800px) {
    .footer-right{
      display: none;
    }

    .footer-right > ul > li {
      display: none;
    }
  }


